* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E6E6FA;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #3f51b5;
    color: #ffff;
}

.container {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    width: 150px;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-btn {
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-btn.active {
    background-color: #3f51b5;
    color: #ffffff;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#category-select, #todo-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.category-section {
    display: none;
}

.category-section.active {
    display: block;
}

h2 {
    color: #3f51b5;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

li {
    padding: 8px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}
